<%- include('layouts/head'); -%>

<%- include('layouts/autocheck'); -%>
    
<div class="content-wrapper">
  <div class="content-heading">
      <div class="row">
          <div class="col-lg-12">
              <h1>Assignments</h1>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-3"></div>
      </div>
      <h4>Org Assignments</h4>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default" style="border:1px solid #b3b3b3;">
            <div class="panel-heading">
              <div class="row">
                <div class="col-lg-4">
                    <h3>Assigns</h3>
                </div>
                <div class="col-lg-3">
                  <input class="form-control" type="text" name="" value="" placeholder="Assignment RegeX">
                </div>
                <div class="col-lg-3">
                  <input class="form-control" type="text" name="" value="" placeholder="Assignment Name">
                </div>
                <div class="col-lg-2">
                  <button type="button" class="btn btn-md btn-primary btn-block"> New Assignment </button>
                </div>
              </div>
            </div>
            <div class="panel-body">
                <div class="row">
                  <div class="col-lg-12">
                    
                  </div>
                </div>
            </div>
          </div>
      </div>

      </div>
  </div>
</div>
          
<footer><span>&copy; 2018 AutoCheck</span></footer>

<%- include('layouts/footer'); -%>
