include layouts/head.pug

include layouts/autocheck.pug
    
  .content-wrapper  
    .content-heading
      .row
        .col-lg-12
          h1 AutoCheck
      .row
        .col-lg-3
      h4 Conoce la aplicación
    
    .container
      .row
        = ""
      
      
      
  footer
    span &copy; 2018 AutoCheck

include layouts/footer.pug