<%- include('layouts/head'); -%>

<%- include('layouts/autocheck'); -%>
    
<div class="content-wrapper">
  <div class="content-heading">
      <div class="row">
          <div class="col-lg-12">
              <h1>AutoCheck</h1>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-3"></div>
      </div>
      <h4>Conoce la aplicación</h4>
  </div>
  <div class="container">
      <div class="row"></div>
  </div>
</div>
          
<footer><span>&copy; 2018 AutoCheck</span></footer>

<%- include('layouts/footer'); -%>
