include layouts/head.pug

body
    .container#container-autocheck(style="z-index:23;")
        .row
            .col-lg-12 
                ='AutoCheck'
                p#slogan-autocheck 
                    ='¡Fácil y sencillo, gestiona tus Classrooms!'
    
    .container#content
        .wrapper
            .block-center.mt-xl.wd-xl
                .panel-x.panel-flat
                    .panel-heading.text-center
                    .panel-body
                        p.text-center.pv  INICIA SESIÓN PARA CONTINUAR
                            a.btn-block.btn-social.btn-lg.btn-github(type="button")
                                i.fa.fa-github
                                ="Sign in with GitHub"
                .p-lg.text-center
                    span &copy; 2018 AutoCheck
script
    include ../renderers/oauth_render.js

include layouts/footer.pug





