include layouts/head.pug

body
    .container#container-autocheck(style="z-index:23;")
        .row
            .col-lg-12 
                ='AutoCheck'
                p#slogan-autocheck 
                    ='¡Fácil y sencillo, gestiona tus Classrooms!'
    
    .container#content
        .wrapper
            .block-center.mt-xl.wd-xl
                .panel-x.panel-flat
                    .panel-heading.text-center
                        a(href="#")
                            img(src="", alt="")
                    .panel-body
                        p.text-center.pv  INICIA SESIÓN PARA CONTINUAR
                        form.mb-lg(action="POST") 
                            button.btn-block.btn-lg.btn-github.bg-inverse(type="button", onclick="OAuthLogin()")
                                i.fa.fa-github.fa-lg
                                =" Sign in with GitHub"
                .p-lg.text-center
                    span &copy; 2018 AutoCheck
script
    include ../renderers/oauth_render.js

include layouts/footer.pug





