include layouts/head.pug

include layouts/autocheck.pug
    
  .content-wrapper  
    .content-heading
      .row
        .col-lg-12
          h1 Usuario
      .row
        .col-lg-3
      h4 Perfil de Github
    
    .container
      .row
        .panel.panel-default
          .panel-body.text-center
            .pv-lg
              img.center-block.img-responsive.img-circle.img-thumbnail.thumb96(src="img/user/02.jpg" alt="Contact")
            h3.m0.text-bold Name LastName
            .mv-lg
              p
            .text-center
            form.form-horizontal
              .form-group
                label.col-sm-2.control-label(for="inputContact1") Name
                .col-sm-10
                  input#inputContact1.form-control(type="text" placeholder="" value="Audrey Hunt" readonly)
              .form-group
                label.col-sm-2.control-label(for="inputContact2") Email
                .col-sm-10
                  input#inputContact2.form-control(type="email" value="mail@example.com" readonly)
              .form-group
                label.col-sm-2.control-label(for="inputContact5") Website
                .col-sm-10
                  input#inputContact5.form-control(type="text" value="http://some.wesbite.com" readonly)
      
      
      
    footer
      span &copy; 2018 AutoCheck

include layouts/footer.pug