* {
  font-family: 'Oxygen', sans-serif;
  color: black;
}
body {
  background-image: url(../img/stars.jpg);
  background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

@font-face {
  font-family: 'Oxygen', sans-serif;
  color: black;
}

#container-autocheck {
  text-align: center;
  transform: translateY(50px);
  font-family: 'Oxygen', sans-serif;
  font-size: 92pt;
  overflow: hidden;
  -webkit-animation: typing 3s steps(21, end),blink-caret .5s step-end infinite alternate;

}

#slogan-autocheck {
  transform: translateX(420px);
  font-size: 18pt;
}

/***** Media queries *****/
@-webkit-keyframes typing { from { width: 0; } }
