<body>
    <div class="wrapper">
        <!-- top navbar-->
        <header class="topnavbar-wrapper">
            <!-- START Top Navbar-->
            <nav class="navbar topnavbar" role="navigation">
                <!-- START navbar header-->
                <div class="navbar-header">
                    <a class="navbar-brand" role="button" onclick="indexRender()">
                        <div class="brand-logo"><img class="img-responsive" src="" alt="App Logo" /></div>
                        <div class="brand-logo-collapsed"><img class="img-responsive" src="" alt="App Logo" /></div>
                    </a>
                </div>
                <!-- END navbar header-->
                <!-- START Nav wrapper-->
                <div class="nav-wrapper">
                    <!-- START Left navbar-->
                    <ul class="nav navbar-nav">
                        <li><a role="button" onclick="profileRender()"><em class="icon-user"></em></a></li>
                        <li><a role="button" onclick="OrgsRender()"><em class="icon-organization"></em></a></li>
                    </ul>
                    <!-- END Left navbar-->
                    <!-- START Right Navbar-->
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href=""><em class="icon-logout"></em></a></li>
                    </ul>
                    <!-- END Right Navbar-->
                </div>
                <!-- END Nav wrapper-->
            </nav>
            <!-- END Top Navbar-->
        </header>
        <section>