
body
    .wrapper
        // top navbar
        header.topnavbar-wrapper
            // START Top Navbar
            nav.navbar.topnavbar(role='navigation')
                // START navbar header
                .navbar-header
                    a.navbar-brand(href='#/')
                        .brand-logo
                            img.img-responsive(src="", alt='App Logo')
                        .brand-logo-collapsed
                            img.img-responsive(src="", alt='App Logo')
                // END navbar header
                // START Nav wrapper
                .nav-wrapper
                    // START Left navbar
                    ul.nav.navbar-nav
                        li
                            a(href = "../views/index.pug")
                                em.icon-home
                        li
                            a(href = "../views/profile.pug")
                                em.icon-user
                        li
                            a(href = "../views/dashboard.pug")
                                em.icon-docs
                    // END Left navbar
                    
                    // START Right Navbar
                    ul.nav.navbar-nav.navbar-right
                      li
                          a(href="")
                              em.icon-logout

                    // END Right Navbar
                // END Nav wrapper
            // END Top Navbar


        section
            =''
        

