

// =============== MODERNIZER JS ===============
SCRIPT(type="text/javascript", src="../../vendor/modernizr/modernizr.custom.js")
SCRIPT(type="text/javascript", src="../../vendor/matchMedia/matchMedia.js")

// =============== SWEETALERT JS ===============
SCRIPT(type="text/javascript", src="../../vendor/sweetalert/dist/sweetalert.min.js")
// =============== JQUERY JS ===============
SCRIPT(type="text/javascript", src="../../vendor/jquery/dist/jquery.js")
// =============== BOOTSTRAP JS ===============
SCRIPT(type="text/javascript", src="../../vendor/bootstrap/dist/js/bootstrap.js")
// =============== STORAGE API ===============
SCRIPT(type="text/javascript", src="../../vendor/jQuery-Storage-API/jquery.storageapi.js")
// =============== JQUERY EASING JS ===============
SCRIPT(type="text/javascript", src="../../vendor/jquery.easing/js/jquery.easing.js")
// =============== SLIMSCROLL JS ===============
SCRIPT(type="text/javascript", src="../../vendor/slimScroll/jquery.slimscroll.min.js")
// =============== SCREENFULL JS ===============
SCRIPT(type="text/javascript", src="../../vendor/screenfull/dist/screenfull.js")


SCRIPT(type="text/javascript", src="../assets/js/app.js")

