.footer
    p 
        = 'Footer'

// =============== MODERNIZER JS ===============
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
// =============== JQUERY JS ===============
script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
// =============== POPPER JS ===============
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
// =============== BOOTSTRAP JS ===============
script(type="text/javascript", src="../../vendor/bootstrap/js/bootstrap.js")
// =============== PARSLEY JS ===============
script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.1/parsley.min.js")