doctype

html(lang="es")
      head
            meta(charset="utf-8")
            meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
            meta(name="description" content="AutoCheck for Github-ClassRooms")
            meta(name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin, github, classrooms, assignments")
            title(AutoCheck)
            // =============== VENDOR STYLES ===============
            // FONT AWESOME 
            link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
            <!-- SIMPLE LINE ICONS-->
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css")
            // =============== BOOTSTRAP STYLES ===============

            // =============== APP STYLES ===============
            link(rel="stylesheet" href="")
