doctype

html(lang="es")
      head
            meta(charset="utf-8")
            meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
            meta(name="description" content="AutoCheck for Github-ClassRooms")
            meta(name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin, github, classrooms, assignments")
            title(AutoCheck)

            // =============== VENDOR STYLES ===============
            // FONT AWESOME 
            link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
            link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
            link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans")
            // =============== BOOTSTRAP STYLES ===============

            // =============== APP STYLES ===============
            link(rel="stylesheet" href="../assets/css/bootstrap.css")
            link(rel="stylesheet" href="../assets/css/theme.css")
            link(rel="stylesheet" href="../assets/css/style.css")
            link(rel="stylesheet" href="../assets/css/custom.css")
            // SIMPLE LINE ICONS 
            link(rel="stylesheet" href="../../vendor/simple-line-icons/css/simple-line-icons.css")
            // ANIMATE.CSS
            link(rel="stylesheet" href="../../vendor/animate.css/animate.min.css")
            // SWEETALERT.CSS
            link(rel="stylesheet" href="../../vendor/sweetalert/dist/sweetalert.css")

